.left-side-content {
    width: 30%;
    height: auto;
    padding: 80px;
}
.left-side-content p{
    line-height: 1.5rem;
}
.searchBtn {
    width: 26rem;
    height: 2.5rem;
    background: var(--primary-color);
    border: none;
    border-radius: 4rem;
    color: var( --accent-color);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    
}
.searchBtn:hover {
    background: var(--primary-color3);
}


