.body {
  flex: 1;
}

.left-side-content {
  padding: 40px;
  max-width: 600px;
}

.left-side-content h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.left-side-content p {
  line-height: 1.6;
  margin-bottom: 30px;
}

.searchBtn {
  width: 100%;
  max-width: 400px;
  height: 2.5rem;
  background: var(--primary-color2);
  border: none;
  border-radius: 4rem;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}

.searchBtn:hover {
  background: var(--primary-color3);
}
