:root {
    --primary-color: #FFD700; /* Gold */
    --primary-color2: #e7b900;
    --primary-color3: #dac02e;
    --secondary-color: #0F4C81; /* NavyBlue */
    --accent-color: #f3f3f3; /* LightGray */
    --background-color: #F9F9F9; /* Softwhite */
    --text-color: #000000; /* Black */
    --font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background: var(--background-color);
}